body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: #fff;
    background: hsl(226, 43%, 10%);
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-grid {
    display: block;
    max-width: 920px;
    width: 100%;
    margin: 100px auto;
}

.grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}

.grid-item {
    background: hsl(235, 46%, 20%);
    border-radius: 10px;
}

.grid-item:nth-child(1) {
    grid-row: 1 / 3; 
}

.report {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    height: 70%;
    background: hsl(246, 80%, 60%);
    border-radius: 10px;
    padding: 2rem 2rem 5rem;
}

#user-photo-frame {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-left: -5px;
}

#user-photo {
    object-fit: cover;
}

#report-title {
    color: hsl(236, 100%, 87%);
    font-size: 12px;
    margin-top: 30px;
}

#name-user {
    font-size: 2rem;
    font-weight: 300;
    margin-top: .25rem;
    line-height: 1.2;
    letter-spacing: 1px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    color: hsl(236, 100%, 87%);
    font-size: 14px;
    padding: 1.5rem;
}

li {
    font-size: 16px;
    color: hsl(235, 45%, 61%);
    cursor: pointer;
    margin-bottom: 1rem;
}

li:hover {
    color: #fff;
}

.work {
    background: hsl(15, 100%, 70%) url('./images/icon-work.svg') no-repeat;
}

.play {
    background: hsl(195, 74%, 62%) url('./images/icon-play.svg') no-repeat;
}

.study {
    background: hsl(348, 100%, 68%) url('./images/icon-study.svg') no-repeat;
}

.exercise {
    background: hsl(145, 58%, 55%) url('./images/icon-exercise.svg') no-repeat;
    background-position: 85% -4%;
}

.social {
    background: hsl(264, 64%, 52%) url('./images/icon-social.svg') no-repeat;
}

.self-care {
    background: hsl(43, 84%, 65%) url('./images/icon-self-care.svg') no-repeat;
}

.work, .play, .study, .social, .self-care {
    background-position: 85% -8%;
}

.data-card {
    background-color: hsl(235, 46%, 20%);
    width: 100%;
    height: 80%;
    margin-top: 44px;
    border-radius: 10px;
    padding: 1.5rem;
    cursor: pointer;
}

.data-card:hover {
    background-color: #34397b;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.card-title {
    font-size: 16px;
    font-weight: 400;
}

.options {
    width: 16px;
    height: 4px;
    cursor: pointer;
}

.options:hover {
    filter: brightness(100);
}

.options:hover .data-card {
    background-color: hsl(235, 46%, 20%);
}

.data-time {
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 3rem;
}

.previous-time {
    font-weight: 400;
    color: #BBBEEE;
    font-size: 12px;
}

.select {
    color: #fff;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 768px) {

    .main {
        height: auto;
    }

    .container-grid {
        padding: 1rem;
    }

    .grid {
        grid-template-rows: 180px repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-item:nth-child(1) {
        grid-row: 1 / 1;
        grid-column: 1 / 3; 
    }

    .report {
        flex-direction: row;
        justify-content: center;
    }

    .report-user {
        margin-left: 1rem;
    }

    ul {
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
    }
}

@media screen and (max-width:480px) {
    #name-user {
        font-size: 1.5rem;
    }

    .data-time {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 375px) {
    
    .main {
        height: auto;
    }

    .container-grid {
        width: auto;
        padding: 0rem;
        margin-top: 80px;
        margin-bottom: 0px;
    }

    .grid {
        grid-template-rows: 180px repeat(7, 1fr);
        grid-template-columns: minmax(290px,300px);
    }

    .grid-item:nth-child(1) {
        grid-column: 1 / 1;
    }

    .report {
        align-items: center;
        padding: 1rem;
        height: 65%;
    }

    #report-title {
        font-size: 13px;
    }

    #name-user {
        font-size: 1.5rem;
        margin-top: 0px;
        letter-spacing: 0px;
    }

    ul {
        font-size: 17px;
        padding: 1.5rem 2rem;
        justify-content: space-between;
    }

    .work, .play, .study, .social, .self-care {
        background-position: 90% -30%;
    }

    .title {
        margin-bottom: 0rem;
    }

    .options {
        width: 20px;
        height: 5px;
    }

    .card-title {
        font-size: 17px;
    }

    .data-card {
        height: 77.5%;
        padding: 2rem 1.5rem 1.5rem;
        margin-top: 13%;
    }

    .data-time {
        margin-top: 8px;
        font-size: 2rem;
    }

    .card-data-time {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .previous-time {
        font-size: 14px;
    }
}