.work {
    background: hsl(15, 100%, 70%) url('../../../public/assets/icon-work.svg') no-repeat;
}

.play {
    background: hsl(195, 74%, 62%) url('../../../public/assets/icon-play.svg') no-repeat;
}

.study {
    background: hsl(348, 100%, 68%) url('../../../public/assets/icon-study.svg') no-repeat;
}

.exercise {
    background: hsl(145, 58%, 55%) url('../../../public/assets/icon-exercise.svg') no-repeat;
    background-position: 85% -4%;
}

.social {
    background: hsl(264, 64%, 52%) url('../../../public/assets/icon-social.svg') no-repeat;
}

.self-care {
    background: hsl(43, 84%, 65%) url('../../../public/assets/icon-self-care.svg') no-repeat;
}

.work, .play, .study, .social, .self-care {
    background-position: 85% -8%;
}

.data-card {
    background-color: hsl(235, 46%, 20%);
    width: 100%;
    height: 81%;
    margin-top: 44px;
    border-radius: 10px;
    padding: 1.5rem;
    cursor: pointer;
}

.data-card:hover {
    background-color: #34397b;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.card-title {
    font-size: 16px;
    font-weight: 400;
}

.options {
    width: 16px;
    height: 4px;
    cursor: pointer;
}

.options:hover {
    filter: brightness(100);
}

.options:hover .data-card {
    background-color: hsl(235, 46%, 20%);
}

.data-time {
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 3rem;
}

.previous-time {
    font-weight: 400;
    color: #BBBEEE;
    font-size: 12px;
}

@media screen and (max-width:480px) {
    .data-time {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 375px) {
    .work, .play, .study, .social, .self-care {
        background-position: 90% -30%;
    }

    .title {
        margin-bottom: 0rem;
    }

    .options {
        width: 20px;
        height: 5px;
    }

    .card-title {
        font-size: 17px;
    }

    .data-card {
        height: 77.5%;
        padding: 2rem 1.5rem 1.5rem;
        margin-top: 13%;
    }

    .data-time {
        margin-top: 8px;
        font-size: 2rem;
    }

    .card-data-time {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .previous-time {
        font-size: 14px;
    }
}